In [ ]:
# plain english
# variables, values, data types, loops, functions, classes


# variables and values
# variabels : containers : store the values :


a = 1

In [ ]:
# python

# open source

# plain english, website,app, ML,AI

# python : variables, values, data types, loops, functions, classes, libraries


# variable : container which stores the value

# execute / run the cell : shift + enter

# syntax : show the output of an expression : print

# python : case sensitive language : p not equal to P

# function : highlighted : system defined function() : lowercase

# () : parentheses

# functions : user defined function , system defined

In [ ]:
# this code prints the value of a
a = 1
print(a)

# comment ; does not execute,
# comment : documentation

1

In [ ]:
x = 2
y = 3

print(x)
print(y)

2
3

In [ ]:
# basic arithmeic operations
a = 10
b = 10


print(a+b)
print(a-b)
print(a*b) #multiplication
print(a/b) # division with decimal
print(a//b) # division with round off

20
0
100
1.0
1

In [ ]:
number = 20

print(number**2) # to the power of 2 : square
print(number**3) # to the power of 3 : cube

400
8000

In [ ]:
a,b,c,d = 10,20,30,40
print(a,b,c,d) # alternate way

10 20 30 40

In [ ]:
# variables and values
# variables are containers that store the value

# execute/run the cell : shift+enter
# to check the output : print statement
# function/statement : lowercase and highlighted : system defined function\
# python : sys defined func : end with () : parentheses
#sys_defined_func()

# python is a case sensitive language
# a A are not same
# print

a = 1
print(a)

1

In [ ]:
# this cell prints all variables at once

a = 1
b = 2
c = 3
d = 4

print(a)
print(b)
print(c)
print(d)

1
2
3
4

In [ ]:
# alternate way to define variables

a,b,c,d = 1,2,3,4

print(a)
print(b)
print(c)
print(d)

1
2
3
4

In [ ]:
# addition

a = 10
b = 20
print(a+b)

# subtration
x = 10
y = 9
print(x-y)

# multiplication *
m = 10
n = 10
print(m*n)

# division : 1.0
d = 10
e = 2
print(d/e)

# division : 2.0
w = 10
x = 2
print(w//x)

# to the power of (square,cube) : **
t = 10
print(t**2) # sqaure of t
print(t**3)

30
1
100
5.0
5
100
1000

In [ ]:
# to find square root
number = 16
sqrt = number ** 0.5
print(sqrt)

4.0

In [ ]:
# syntax for using module/library : import <library_name>
import math # using math module
math.sqrt(200)

14.142135623730951

In [ ]:
# how to name variables
# variable_name : snake casing
# camelCasing

stock_price = 90
print(stock_price)

stockPrice = 100 # this is camel casing
print(stockPrice)

90
100

In [ ]:
# data : stored : numerical or textual (categorical or string data)

# numerical data : int(whole number : 23,24,5323) and float(decimal number :89.70, 89.123)
# textual data : string data : " " or ' '
# datatype : variable : type() : system defined function() : lowercase

In [ ]:
num = 20
print(num)
print(type(num))

num1 = 20.09
print(num1)
print(type(num1))


name = 'Chirantan'
print(name)
print(type(name))

20
<class 'int'>
20.09
<class 'float'>
Chirantan
<class 'str'>

In [ ]:
price = "89.97"
# antyhing that goes inside "" will be treated categorical/string/textual data by python
print(type(price))

# data types: int, float and str

<class 'str'>

In [ ]:
# = and ==

# when you want to define value : =
# to check the condition : ==

a = 1
print(a)

x = 10
print(x == 10) # is x really equal to 10 ?a

1
True

In [ ]:
a = 10
b = 20
# print("whatever you want to print here",epxression)


print("The addition of a and b is:",a+b)

The addition of a and b is: 30

In [ ]:
x = 20
y = 30
z = 40

print("The value of x is", x)

print("The value of y is", y)

print("The value of z is", z)

The value of x is 20
The value of y is 30
The value of z is 40

In [ ]:
# round brackets are called as parentheses
# function is highlighted : system defined function has to end with ()
# system defined function()
# system defined functions  are case sensitive
# lowercase
# print() as Print() or print ()
# how to execute/rn :press shift + enter
# commenting the code : documentation : what does this code do ?

In [ ]:
x = 1
print(x)

1

In [ ]:
a = 10
b = 20
c = 30
d = 40

print(a)
print(b)
print(c)
print(d)

10
20
30
40

In [ ]:
a,b,c,d = 10,20,30,40

print(a)
print(b)
print(c)
print(d)

10
20
30
40

In [ ]:
m = 20
n = 50

print(m+n) # addtion
print(m-n) # subtraction
print(m*n) # multiplication
print(m/n) # division type 1
print(m//n) # division type 2
print(m**2) # m to the power of 2
print(n**3) # n to the power of 3

70
-30
1000
0.4
0
400
125000

In [ ]:
# how to name the variables
# _
# camelCasing

In [ ]:
stock_price = 30
print(stock_price)

# camel casing
stockPrice = 50
print(stockPrice)

30
50

In [ ]:
# variables and values
# variable : containers that store values

# for example

a = 10
print(a)

# in order to execute/run the cell : press shift+enter

# python : case sensitive language
# p and P are different
# print is a function , lowercase
# print()
# every function in python has round brackets asscoiated with it
# round brackets are called as "parentheses"
# no space : between print and () : function_name()
# function names are highlited : they are called as "system defined functions"
# they have to be defined as it is
# cannot write Print(a)


# python
# commenting the code : documentation

10

In [ ]:
x = 19
x

19

In [ ]:
a = 10
b = 20
c = 30
d = 40
print(a)
print(b)
print(c)
print(d)

10
20
30
40

In [ ]:
x1,x2,x3 = 56,57,58
# alternate way to print
print(x1,x2,x3)

56 57 58

In [ ]:
# mathematical operations

# addition
a1 = 190
a2 = 198
print(a1+a2)

# substraction
s1 = 30
s2 = 12
print(s1-s2)

#multiplication
m1 = 10
m2 = 30
print(m1*m2)

# division

d1 = 100
d2 = 10
print(d1/d2) # used when you dont want rounded off values
# when decimal values are important , then prfer d1/d2

print(d1//d2)
# this can be used when decimal values are not that important

388
18
300
10.0
10

In [ ]:
a =  3
print(a**2)
# ** to the power of

b = 9
print(b**3)

c = 78
print(c**4)

9
729
37015056

In [ ]:
# data types
# data : numerical or categorical/textual
# numerical : age, weight, stock price,GDP
# categorical/textual/string : address,city,name,colour

# numerical : integer : int (whole number - 89,901,1234) and float (decimal:8.9,9.80)
# categorical/string : "name" or 'address'
# type() : to check the datatype
# print(type())

a = 10
print(a)
print(type(a))

b = 20.09
print(b)
print(type(b))

c = 'Mumbai'
print(c)
print(type(c))

d = "19.80"
# anyhting that goes inside " " is treated as string/textual data
print(d)
print(type(d))

10
<class 'int'>
20.09
<class 'float'>
Mumbai
<class 'str'>
19.80
<class 'str'>

In [ ]:
x = "Mumbai"
y = 10
print(x+y)

# an integer and a string cannot be added

TypeError: can only concatenate str (not "int") to str

In [ ]:
x = "Mumbai"
y = 10
print(x*y)

# str and int can be multiplied,but cannot be added

MumbaiMumbaiMumbaiMumbaiMumbaiMumbaiMumbaiMumbaiMumbaiMumbai

In [ ]:
a1 = "Starbucks"
a2 = "Seattle"
print(a1+ " "+ a2)
# space is a special char " "

Starbucks Seattle

In [ ]:
# customized output
a = 10
b = 20
print("Addition of 2 numbers is :",a+b)
print("Subtraction of 2 numbers is :",a-b)
print("Multiplication of 2 numbers is :",a*b)

Addition of 2 numbers is : 30
Subtraction of 2 numbers is : -10
Multiplication of 2 numbers is : 200

In [ ]:
name = "Chirantan"
age = 30
City = "Hyderabad"
print("My name is ",name,"and my age is",age,"and I live in",City)

My name is  Chirantan and my age is
 30 and I live in Hyderabad

In [ ]:
# Cutomized Output and next sentence in different line
a = "My Name is Saroj Kumar Sahoo,"
b = "I work with HPE"
print(a + "\n"+ b)

My Name is Saroj Kumar Sahoo,
I work with HPE

In [ ]:
x = 20
y = 30
print(x+y)

# you can add int to int or int to float or float to int
# but you cannot add str to int

50

In [ ]:
name = "Amit"
age = 28
# you cannot add str to int
print(name+age)

TypeError: can only concatenate str (not "int") to str

In [ ]:
name = "Amit"
x = 2

# str can be multiplied with int, but cannot be added
print(name * x)

AmitAmit

In [ ]:
name = "Chirantan"
city ="Mumbai"
age = 31

print(name)
print('\n') # adds a new line
print(city)
print('\n') # adds a new line
print(age)

Chirantan


Mumbai


31

In [ ]:
name = "Chirantan"
city ="Mumbai"
age = 31

print("My name is ", name, ".I live in",city,"and my age is", age)

My name is  Chirantan .I live in Mumbai and my age is 31

In [ ]:
# input function

age = input("Enter your age here: ")

print("Your age is :" , age)

Enter your age here: 31
Your age is : 31

In [ ]:
name = input("Enter your name here: ")
city = input("Enter your city here: ")
age = input("Enter your age here: ")

print("My name is ", name, ".I live in",city,"and my age is", age)

Enter your name here: Chirantan
Enter your city here: Mumbai
Enter your age here: 31
My name is  Chirantan .I live in Mumbai and my age is 31

In [ ]:
price = input("Enter the price here : ")
print("The price is :",price)
print(type(price))

# by default, whatever you pass inside the input function : str data

# so we need to convert that into int or float when dealing with numerical data

Enter the price here : 35
The price is : 35
<class 'str'>

In [ ]:
# int()
price = int(input("Enter the price here : "))
print("The price is :",price)
print(type(price))

Enter the price here : 35
The price is : 35
<class 'int'>

In [ ]:
# float

temperature = float(input("Enter the temperature here : "))
print("The temperature is :",temperature)
print(type(temperature))

Enter the temperature here : 23.4
The temperature is : 23.4
<class 'float'>

In [ ]:
number1 = int(input("Enter number 1 here: "))
number2 = int(input("Enter number 2 here: "))
number3 = int(input("Enter number 3 here: "))

print(number1+number2+number3)
print(number1-number2-number3)
print(number1*number2*number3)

Enter number 1 here: 25
Enter number 2 here: 30
Enter number 3 here: 40
95
-45
30000

In [ ]:
# input function
# it takes input from the user
# by default, it converts the input into string datatype (str)
# in order to convert to int , int(input())
# int() : convert to int datatype

number = int(input("Enter the number here: "))
print("Number entered by the user is :", number)
print(type(number))

Enter the number here: 9
Number entered by the user is : 9
<class 'int'>

In [ ]:
number = float(input("Enter the number here: "))
print("Number entered by the user is :", number)
print(type(number))

Enter the number here: 9.8
Number entered by the user is : 9.8
<class 'float'>

In [ ]:
number1 = int(input("Enter the number 1 here: "))
number2 = int(input("Enter the number 2 here: "))
addition =  number1+number2
print("The addition of 2 numbers is :", addition)

Enter the number 1 here: 90
Enter the number 2 here: 190
The addition of 2 numbers is : 280

In [ ]:
# loops - if-else , if-elif else

if condition:
  print(condition-output) #space : indentation
else:
  print(output)

In [ ]:
a = 10

if a == 10:
  print("a is equal to 10")
else:
  print("a is not equal to 10")

a is equal to 10

In [ ]:
a = 10
b = 909

if a+b > 100:
  print("A")
elif a+b == 100:
  print("100")
else:
  print("B")

A

In [ ]:
number = 0

if number > 0:
  print("Number is positive")
elif number == 0: # you can define multiple elif statements between if and else
  print("Number is zero")
else:
  print("Number is negative")

Number is zero

In [ ]:
age = int(input("Enter the age here: "))

if age > 18:
  print("You are allowed to drive")
elif age == 18:
  print("Show me your license.....")
else:
  print("You are not allowed to drive")

Enter the age here: 78
You are allowed to drive

In [ ]:
# data types
# 2 - numerical data (age,height,weight, stock price)
#  and
# textual/categorical data/string data (name,address,city,country,organization)

# numerical : int(integer) - ex:44,78,5678,101 and
# float(decimal) - ex: 45.68,78.90,76.50

# textual/categorical : string : str
# " " or ' '
# "Chirantan" or 'Chirantan'

# type function
# type function helps you understand what is the data type of that variable
age = 23
print(age)
# print(type(age))
print(type(age))

weight = 89.90
print(weight)
print(type(weight))

city = "London" #textual data has to be always defined in " " or ' '
print(city)
print(type(city))


# anything that goes inside " " will be categorized as string data by python

number = "1234"
print(number)
print(type(number))

23
<class 'int'>
89.9
<class 'float'>
London
<class 'str'>
1234
<class 'str'>

In [ ]:
a = "Mumbai"
b =  "10"

print(a*b)

# addition of str and int is not possible, because of difference in data types
# but multiplication is

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
a = 10
b = 20
c = 30

#print(a+b+c)
print("The addition of a,b,c is:", a+b+c)
# print("this is what i want to print in the output" , expression)

The addition of a,b,c is: 60

In [ ]:
stock_price = 1500
company = "DEF"

print("Company",company,"has a stock price of",stock_price)

Company DEF has a stock price of 1500

In [ ]:
a =  10
b = 20

c = a*b

print("Multiplication of a and b is", c)

Multiplication of a and b is 200

In [ ]:
# input function
# when you want to accept an input frm the user
# be default, input converts its input into str
# int(input()) : int() converts any data type to int

a = int(input("Enter the number here: "))
print("Number entered by the user is: ",a)
print(type(a))

Enter the number here: 2
Number entered by the user is:  2
<class 'int'>

In [ ]:
name = input("Enter the name here: ")
age = int(input("Enter the age here: "))
temp = float(input("Enter the temperature here: "))
print(name,age,temp)
print(type(name),type(age),type(temp))

Enter the name here: amit
Enter the age here: 23
Enter the temperature here: 45.6
amit 23 45.6
<class 'str'> <class 'int'> <class 'float'>

In [ ]:
number1 = 40
number2 = 50

# inside print("") whtveer goes is defined by the user/developer
# print("Whatever you want to print" breaker(,) mathematical expression)
print("the addition of two numbers is ",number1+number2)

the addition of two numbers is  90

In [ ]:
number1 = 403
number2 = 504

addition = number1 + number2

# inside print("") whtveer goes is defined by the user/developer
# print("Whatever you want to print" breaker(,) mathematical expression)
print("the addition of two numbers is ",addition)

the addition of two numbers is  907

In [ ]:
x = 2
y = 3
z = 4

w = x*y*z

print("The product of x,y and z is: ", w)

The product of x,y and z is:  24

In [ ]:
name ="Michael"
age = 50

print(name,"is",age,"years old.")

Michael is 50 years old.

## Learning input() function:

In [ ]:
a1 = input("Enter your number here: ")
print(a1)

Enter your number here: 56.7
56.7

In [ ]:
print(type(a1))

# be default, input function : converts that into string

<class 'str'>

In [ ]:
# input() wrap that into int()
# converts the input to integer data type
a1 = int(input("Enter your number here: "))
print(a1)
print(type(a1))

Enter your number here: 345
345
<class 'int'>

In [ ]:
n1 = int(input("Enter number1: "))
n2 = int(input("Enter number2: "))
n3 = int(input("Enter number3: "))

print("Addition:", n1+n2+n3)
print("Subtraction",n1-n2-n3)
print("Multiplication",n1*n2*n3)
print("Division",n1/n2/n3)

Enter number1: 2
Enter number2: 3
Enter number3: 4
Addition: 9
Star wars -5
Multiplication 24
Division 0.16666666666666666

In [ ]:
a = 10

print(a == 1)

# = assigning  the value
# == condition check
# in this case, is a equal to 1 ??

False

In [ ]:
# syntax

if condition:
  print(condition-output) #indentation
else:
  print(output)

In [ ]:
a = 2000

if a == 200:
  print("a is equal to 200")
else:
  print("a is not equal to 200")

a is not equal to 200

In [ ]:
# if-elif-else

# you can define as many elif statements as possible

In [ ]:
a = int(input("Enter number 1: "))
b = int(input("Enter number 2: "))

if a+b>100:
  print("A")
elif a+b == 100:
  print("100")
else:
  print("B")

Enter number 1: 90
Enter number 2: 10
100

In [ ]:
number = 0

if number>0:
  print("Positive")
elif number == 0:
  print("Equal to Zero")
else:
  print("Negative")

Equal to Zero

In [ ]:
# uppercase and lowercase

name = "alex"

print("Upper case is: ", name.upper())

surname = "FERNANDES"

print("Lower case is : ", surname.lower())

Upper case is:  ALEX
Lower case is :  fernandes

In [ ]:
company_name = "HPE  "

# even space is considered as a character

print(len(company_name))

5

In [ ]:
name = input("Enter the name here: ")

print("The length of the entered name is: ", len(name))

Enter the name here: Xavier
The length of the entered name is:  6

In [ ]:
a = 1
a

In [ ]:
a = 1
print(a)# parentheses

# system defined functions : lowercase
# user defined functions : user given values : a = 1, stock_price=48293

# shift + enter

# system defined vars , user defined vars

In [ ]:
# commenting (documentation) : execute in your output

a = 12.65
# a has value of 12.65
print(a)


a = 10
b = 20
c = 30
# addition of 3  variables

print(c-a-b)

In [ ]:
a = 10
b = 20
c = 30
# addition of 3  variables

print(c-a-b)
print(a*b*c) #multiplication : *


#

In [ ]:
# division
d = 100
e = 5

print(d/e) # / is division value with decimals

print(d//e) # // means division value with no decimals

In [ ]:
# to the power of  : **

a = 4

print(a**10)

In [ ]:
# datatypes : numerical and categorical
# python    : integer   and string
# python    : integer : int and float
# int : whole number : ex : 23,646,878
# float : decimal number : ex : 34.463,76745.6345

In [ ]:
x = 23
print(x)
print(type(x))

print("-------------------------------------")

y = 34.67
print(y)
print(type(y))

print("--------------------------------------")

# categorical/textual/string data has to be written/defined inside "" or ''

name = "Chirantan"
print(name)
print(type(name))

23
<class 'int'>
-------------------------------------
34.67
<class 'float'>
--------------------------------------
Chirantan
<class 'str'>

In [ ]:
s = "1213"

print(type(s))

<class 'str'>

In [ ]:
name = "Chirantan"
age = 24
x = "years old"

# Chirantan is 24 years old

print(name,"is",age,x)

Chirantan is 24 years old

In [ ]:
name = "Chirantan"
age = 45

print(name,"is",age,"years old")

Chirantan is 45 years old

In [ ]:
city = "hyderabad"

print("Chirantan lives in: ",city)

Chirantan lives in:  hyderabad

In [ ]:
# input functions in python
# input function : accepts the input

a = input("Enter the number here: ")
print("The number entered is: ", a)
print(type(a))

KeyboardInterrupt: Interrupted by user

In [ ]:
# to convert into int
# int(input(""))
a = int(input("Enter the number here: "))
print("The number entered is: ", a)
print(type(a))

In [ ]:
a = int(input("Enter the number here: "))
b = int(input("Enter the number here: "))
c = int(input("Enter the number here: "))

print("Addition of a+b+c is :" , a+b+c)
print("\n")
print("Multiplication of a+b+c is :" , a*b*c)

Enter the number here: 2
Enter the number here: 3
Enter the number here: 4
Addition of a+b+c is : 9


Multiplication of a+b+c is : 24

In [ ]:
# str and str concatenation does work
# but multiplication of str and int does work

x = "Mumbai"
y = 10

print(x*y)

In [ ]:
a = "Bangalore"
b = "Traffic"

print(a+" "+b)

In [ ]:
# addition , multiplication , subtra, div

a = 1
b = 2
c = 3

print(a+b+c)

In [ ]:
a = 1
b = 2
c = 3

d = a+b+c

print(d)

In [ ]:
a = 1
b = 2
c = 3

d = a-b-c

print(d)

In [ ]:
a = 1
b = 2
c = 3

d = a*b*c

print(d)

In [ ]:
# square, cube
# power of

a = 4**2

print(a)

In [ ]:
a = 2**3

print(a)

In [ ]:
a = 2**4

print(a)

In [ ]:
a = 2**4.89

print(a)

In [ ]:
a = 16
b = 5

c = a/b

print(c)

In [ ]:
a = 16
b = 5

c = a//b

print(c)

In [ ]:
# numbers, text
# data types

# numerical : whole number (int), decimal (float)
# text : textual , string data (str)

In [ ]:
number1 = 567

print(number1)

print(type(number1))

In [ ]:
number2 = 567.789

print(number2)

print(type(number2))

In [ ]:
# string , textual
# 'text' , "text"
info = "My name is Chirantan"
print(info)
print(type(info))

In [ ]:
# define numbers inside "1223"

d = "12345"

print(type(d))

In [ ]:
# print , name, age

name = "Chirantan"
age = 30

print("My name is: ",name,"and my age is: ",age,"years old !!!!!")

In [ ]:
# use of input function

name = input("Enter the name here: ")

age = int(input("Enter the age here: "))

city = input("Enter the name of your city: ")

print("My name is: ",name,"and my age is: ",age,"years old !!!!!","and I live in : ",city)

Enter the name here: amit
Enter the age here: 23
Enter the name of your city: mumbai
My name is:  amit and my age is:  23 years old !!!!! and I live in :  mumbai

In [ ]:
# ask the user to input 3 numbers, and perform addition

num1 = int(input("Enter number 1 : "))
num2 =  int(input("Enter number 2 : "))
num3 =  int(input("Enter number 3 : "))

addition = num1 + num2 + num3

print("Addition of 3 numbers is: ", addition)

In [ ]:
# inserting a new line

name  = "Chirantan"
age = 30
print(name)
print("\n") # inserts a new line
print(age)

Chirantan


30

In [ ]:
a = "Starbucks"
b = "Coffee"
c= "Seattle"
print(a + " " + b + " " + c)

Starbucks Coffee Seattle

In [ ]:
a = "USA"
b = 3
print(a+b)

# str and int/float cannot be added together
# they can be multiplied

TypeError: can only concatenate str (not "int") to str

In [ ]:
print("The capital of India is New Delhi")
print("\n") # inserting a new line
print("The capital of USA is Washington DC")

The capital of India is New Delhi


The capital of USA is Washington DC

In [ ]:
# data structures
# lists,tuples,dictionaries

# lists : when the data is stored in [] : square brackets
# tuples : when the data is stored in () : round brackets
# dictionaries : when the data is stored in {} : curly brackets

In [ ]:
# LISTS : []
a = [12,23,423,423,52]
print(a)
print(type(a)) # this is an example of a list
print("---------------------------------------------------------------")
# a list can handle a mix of data types
b = ["Mumbai",12,123.45,True]
print(b)
print(type(b))
print("\n")
print("---------------------------------------------------------------")
# TUPLES
c = (12,23,423,423,52)
print(c)
print(type(c))
print("---------------------------------------------------------------")
# a tuple can handle a mix of data types
d = ("Mumbai",12,123.45,True)
print(d)
print(type(d))

[12, 23, 423, 423, 52]
<class 'list'>
---------------------------------------------------------------
['Mumbai', 12, 123.45, True]
<class 'list'>


---------------------------------------------------------------
(12, 23, 423, 423, 52)
<class 'tuple'>
---------------------------------------------------------------
('Mumbai', 12, 123.45, True)
<class 'tuple'>

In [ ]:
# lists and tuples
# lists are mutable : data elements can be changed: removed,deleted,updated,replaced
# tuples are immutable : data elements cannot be changed :

In [ ]:
# accessing the element
a = [12,413,4,513,5143,5123,5136,523] # 0 to 7
# accessing the element : data_structure[index_position]
print("The element on the third index position is:",a[3])
print("The element on the sixth index position is:",a[6])
# indexing ALWAYS starts at 0 / counting

The element on the third index position is: 513
The element on the sixth index position is: 5136

In [ ]:
# lists are mutable
list_a = [1,2,3,4,5,6,7,8,9,10]

list_a[5] = "Mumbai"
# in the list_a, element at index position 5 (that is 6),
# to be replaced with 250

print(list_a)

[1, 2, 3, 4, 5, 'Mumbai', 7, 8, 9, 10]

In [ ]:
# tuples are immutable
# TypeError: 'tuple' object does not support item assignment

tuple_a = (1,2,3,4,5,6,7,8,9,10)

tuple_a[5] = 250
# in the list_a, element at index position 5 (that is 6),
# to be replaced with 250

print(tuple_a)

TypeError: 'tuple' object does not support item assignment

In [ ]:
# dictionaries : {}
# key value pairs
# syntax : {"key":"value"}

# define mutliple values , they should preferrably go inside the list

customer_details = {"name":["A","B","C"],
                    "age":(23,24,25),
                    "city":["D","E","F"]
                    }

print(customer_details)
print(type(customer_details))
print("Keys:",customer_details.keys())
print("Values:",customer_details.values())

# excel sheet : column names : keys
# records : values

{'name': ['A', 'B', 'C'], 'age': (23, 24, 25), 'city': ['D', 'E', 'F']}
<class 'dict'>
Keys: dict_keys(['name', 'age', 'city'])
Values: dict_values([['A', 'B', 'C'], (23, 24, 25), ['D', 'E', 'F']])

In [ ]:
a = [1,2,3]
b = [4,5,6]
# when we add the two lists, they concatenate or join
print(a+b)

[1, 2, 3, 4, 5, 6]

In [ ]:
a= [1,2,3,4,45,5,5,7]

a.append(100)
# in a single attempt, can only append 1 element, mutliple will throw error
print(a)

[1, 2, 3, 4, 45, 5, 5, 7, 100]

In [ ]:
b= [1,2,3,4,45,5,5,7]

b.append(100,200,300)
print(b)

TypeError: list.append() takes exactly one argument (3 given)

In [ ]:
b= [1,2,3,4,45,5,5,7]

b.extend([100,200,300])

# .extend : inside .extend pass a list of elements to be added to
# this is for 2 or more elements
print(b)

[1, 2, 3, 4, 45, 5, 5, 7, 100, 200, 300]

In [ ]:
tuple_a = (1,2,3,4,5,6,7,8,9,10)
print("Tuple is :",tuple_a)
list_a = list(tuple_a)
print("Tuple converted to the list is:",list_a)
print(type(list_a))

list_a[4] = 55

print("after doing alteration",list_a)

tuple_a = tuple(list_a)
print("tuple after conversion and alteration looks like:", tuple_a)

Tuple is : (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Tuple converted to the list is: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'list'>
after doing alteration [1, 2, 3, 4, 55, 6, 7, 8, 9, 10]
tuple after conversion and alteration looks like: (1, 2, 3, 4, 55, 6, 7, 8, 9, 10)

In [ ]:
# syntax

if condition:
  output # space at the start is called as indentation
else:
  output

In [ ]:
a = 10

if a == 100:
  print("a is equal to 100")
else:
  print("a is not equal to 100")

a is not equal to 100

In [ ]:
a = int(input("Enter the number here: "))

if a > 100:
  print("a is greater than 100")
else:
  print("a is not greater than 100")

Enter the number here: 890
a is greater than 100

In [ ]:
# .format method
# optional
# placeholder method : .format method

stock_price = float(input("Enter the price here: "))

company = input("Enter the company name: ")

print("The stock price rose to {} and company is {}".format(stock_price, company))

Enter the price here: 23.45
Enter the company name: Tesla
The stock price rose to 23.45 and company is Tesla

In [ ]:
# .format method
# optional
# placeholder method : .format method

stock_price = float(input("Enter the price here: "))

company = input("Enter the company name: ")

print("The stock price rose to {} and company is {}".format(stock_price, company))

In [ ]:
name = "Satish"
age = 44

#print(name,"is",age,"years old")

print("{} is {} years old".format(name,age))

In [ ]:
# f string method

name = "Satish"
age = 44

print(f"{name} is {age} years old")

In [ ]:
# formating numbers

pi = 3.14159265359

print("The value of pi is: {}".format(pi))

In [ ]:
pi = 3.14159265359
formatted = "Pi rounded to 2 decimal places: {:.2f}".format(pi)

print(formatted)

In [ ]:
# condition check
# = : assign the value to variable
# == : condition checking : to check if it meets the condition
a = 10
print(a == 1) # is a really equal to 1 ?

False

In [ ]:
# data structures in python
# how is data to be stored

# lists, tuples, dictionaries

# lists : data defined in [] : square brackets
# tuples : data defined in () : round brackets
# dictionary : data defined in {} : curly brackets

In [ ]:
a = [12,23,34,52,45,75]
print(a)
print(type(a))

b = (12,3,1242,35,235,52)
print(b)
print(type(b))

# dictionary : {"key":"value"}
# "key" : name of the column
# "value" : values/records in that column

details = {"name":"Chirantan",
           "age":23,
           "city":"Mumbai"}
print(details)
print(type(details))

[12, 23, 34, 52, 45, 75]
<class 'list'>
(12, 3, 1242, 35, 235, 52)
<class 'tuple'>
{'name': 'Chirantan', 'age': 23, 'city': 'Mumbai'}
<class 'dict'>

In [ ]:
stocks = [12,4,214,434,35,243,5]

# access the element at index position 4
# define the index position inside []
print(stocks[4])

print("Element at index position 1 is:",stocks[1])

35
Element at index position 1 is: 4

In [ ]:
list_a = [12,12.4,"Mumbai",True]
# inside the list, you can define multiple data types
print(type(list_a))

tuple_a = (12,12.4,"Mumbai",True)
# even inside the tuple, you can define multiple data types
print(type(tuple_a))

<class 'list'>
<class 'tuple'>

In [ ]:
# lists are mutable, which means the elements inside the list can be changed
# tuples are immutable, which means the elements inside the tuple CANNOT be changed

In [ ]:
list_a =[12,412,42,3523,525,46]

list_a[2] = 400

print(list_a)

# this proves that LISTS ARE MUTABLE

[12, 412, 400, 3523, 525, 46]

In [ ]:
tuple_a = (12,412,42,3523,525,46)

tuple_a[2] = 400

print(tuple_a)

# this proves that TUPLES ARE IMMUTABLE

TypeError: 'tuple' object does not support item assignment

In [ ]:
details = {"name":["A","B","C"] ,
           "age":[23,25,52],
           "city":["X","Y","Z"]}
print(details)
print(type(details))

{'name': ['A', 'B', 'C'], 'age': [23, 25, 52], 'city': ['X', 'Y', 'Z']}
<class 'dict'>

## If-else loops

In [ ]:
a = 5

if a==5:
  print("a is equal to 5") # space before print is called indentation
else: # is the opposite of if
  print("a is not equal to 5")

a is not equal to 5

In [ ]:
a = int(input("Enter number 1 here: "))
b = int(input("Enter number 2 here: "))

if a+b > 100:
  print("A")
else:
  print("B")

Enter number 1 here: 90
Enter number 2 here: 90
A

In [ ]:
# if-elif-else
# you can have as many elifs as possible

x = 9

if x>0:
  print("Positive")
elif x == 0:
  print("It is Zero")
else:
  print("Negative")

Positive

In [ ]:
x = 700
y = 10

if x+y > 100:
  print("A")
else:
  print("B")

A

In [ ]:
# if-elif- else loop

a = int(input("Enter number 1: "))
b = int(input("Enter number 2: "))

if a>b:
  print("a is greater than b")
elif a == b:
  print("a is equal to b")
else:
  print("b is greater than a")

Enter number 1: 12
Enter number 2: 12
a is equal to b

## if-elif-else loops

In [ ]:
x = 0

if x>0:
  print("Positive")
elif x == 0:
  print("Zero")
else:
  print("Negative")

Zero

In [ ]:
age = int(input("Enter your age here: "))

if age > 50:
  print('Age is greater than 50')
elif (age>=40) and (age<=50):
  print("Age is between 40 and 50")
elif (age>=30) and (age<40):
  print("Age is between 30 and 40")
elif (age< 30) and (age>=21):
  print("Age is between 21 and 30")
else:
  print("Age is less than 21")

Enter your age here: 34
Age is between 30 and 40

In [ ]:
number = int(input("Enter the number: "))

if number % 2 == 0:
  print("Number is even")
else:
  print("Number is odd")

Enter the number: 78
Number is even

In [ ]:
password = "century"

user_input = input("Enter the password here: ")

if user_input == password:
  print("Password accepted")
else:
  print("Invalid password")

Enter the password here: century
Password accepted

In [ ]:
c

In [ ]:
# if-else loops

a = 1

if a>6:
  print("a is greater than 6") #indentation
else:
  print("a is not")

In [ ]:
x = 157
# divisible by 5

if x%5 == 0:
  # % means completely divisible
  print("x is divisible by 5")
else:
  print("x is not divisible by 5")

In [ ]:
x = int(input("Enter the number here: "))
y = int(input("Enter the number here: "))

if x>y:
  print("x is greater than y")
else:
  print("y is greater than x")

In [ ]:
# if-elif-else loops

x = 0

if x>0:
  print("x is positive")
elif x == 0: # you can as many elif's as possible.
  print("neither negative nor positive")
else:
  print("x is negative")

In [ ]:
x=int(input("x="))
y=int(input("y="))
if x>y:
  print(x,"is greater than",y)
else:
  print()

In [ ]:
# len() : it helps find the length of string

a = "Mumbai "

print(len(a))

7

In [ ]:
b = "India is my country"

print(len(b))

19

In [ ]:
a = 1

print(a == 1.9)

In [ ]:
# if else

# syntax

if condition:
  output
else:
  output

In [ ]:
a = 20.32

if a == 20:
  print("correct") # indentation
else:
  print("incorrect")

In [ ]:
# length : len()

text1 = "Mumbai is the capital of Maharashtra "

print(len(text1))

In [ ]:
x = input("Enter the code: ")

if len(x) > 5:
  print("code too lengthy.......")
elif len(x) == 5:
  print("Exactly equal to 5")
else:
  print("code is correct")

In [ ]:
# variable conventions
# pep8 encoding style guide

# how do you name a variable ?

# 1 . stock_price
# 2. stockPrice (camel case) : 1st letter of the 2nd word is in uppercase

# balance
# BALANCE
# Balance

In [ ]:
# conversion of lower and upper case
a = "mumbai"

print(a.upper())

b = "HYDERABAD"

print(b.lower())

MUMBAI
hyderabad

In [ ]:
purchase_amount = float(input("Enter the purchase amount: "))

if purchase_amount >= 100:
  discount = 0.1 * purchase_amount #10% as 0.1
elif (purchase_amount >= 25) and (purchase_amount <= 90): # between 25 to 90
  discount = 0.05 * purchase_amount
else:
  discount = 0

final_amount = purchase_amount - discount
print("Discount given is:  ",discount)
print("Final amount to be billed is:  ",final_amount)

Enter the purchase amount: 510
Discount given is:   51.0
Final amount to be billed is:   459.0

In [ ]:
password = "football"

user_input = input("Enter the password here: ")

if user_input == password:
  print("Password accepted")
else:
  print("Invalid password")

Enter the password here: football
Password accepted

In [ ]:
# data structures :

# lists,tuples, dictionaries

# lists : [] : square brackets
# tuples : () : rounded brackets
# dictionaries : {} : curly braces

In [ ]:
# LISTS

prices = [12,4,523,89.6,34,645,10]

print(prices)

print(type(prices))

# lists are not limited to numerical data only
# but it can take a mix of datatypes

list_a = [12,13.5,"Chirantan",True]

print(list_a)

print(type(list_a))

[12, 4, 523, 89.6, 34, 645, 10]
<class 'list'>
[12, 13.5, 'Chirantan', True]
<class 'list'>

In [ ]:
# TUPLES


prices = (12,4,523,89.6,34,645,10)

print(prices)

print(type(prices))

# lists are not limited to numerical data only
# but it can take a mix of datatypes

tuple_a = (12,13.5,"Chirantan",True)

print(tuple_a)

print(type(tuple_a))

(12, 4, 523, 89.6, 34, 645, 10)
<class 'tuple'>
(12, 13.5, 'Chirantan', True)
<class 'tuple'>

In [ ]:
# LISTS ARE MUTABLE
# MUTABLE : CHANGED, DELETED,UPDATED,REMOVED,REPLACED

# TUPLES ARE IMMUTABLE
# IMMUTABLE : DATA POINTS ONCE DEFINED CANNOT BE CHANGED

In [ ]:
# ACCESSING THE ELEMENT IN PYTHON
# index in python starts at 0 (counting starts at 0 )

prices = [12,4,523,89.6,34,645,10]

# list[index position]
# tuple[index position]

# which element is present at 0th index position ?
print(prices[0])

# which element is present at 5th index position?
print(prices[5])

12
645

In [ ]:
#
# ELEMENTS INSIDE slits ARE MUTABLE (CAN BE CHANGED)
list_x  = [12,413,213,35,3254,2464,224]

print("Before Replacing:",list_x)

# here we replace the 2nd index position element with 500
list_x[2] = 500

print("After Replacing:",list_x)

Before Replacing: [12, 413, 213, 35, 3254, 2464, 224]
After Replacing: [12, 413, 500, 35, 3254, 2464, 224]

In [ ]:

# ELEMENTS INSIDE TUPLES ARE IMMUTABLE (CANNOT BE CHANGED)
tuple_x  = (12,413,213,35,3254,2464,224)

print("Before Replacing:",tuple_x)

# here we replace the 2nd index position element with 500
tuple_x[2] = 500

print("After Replacing:",tuple_x)

Before Replacing: (12, 413, 213, 35, 3254, 2464, 224)

TypeError: 'tuple' object does not support item assignment

In [ ]:
# tuple -> edit
# tuple -> list -> edit -> edited list back to tuple

tuple_a = (12,312,413,4531,513,513,511)
print("Original tuple:",tuple_a)
# lst function converts the tuple into a list
list_a = list(tuple_a)
print(list_a)

list_a[1] = 400
print("Edited list: ", list_a)

# convert list into a tuple using tuple function
tuple_a = tuple(list_a)
print("Edited tuple:", tuple_a)

Original tuple: (12, 312, 413, 4531, 513, 513, 511)
[12, 312, 413, 4531, 513, 513, 511]
Edited list:  [12, 400, 413, 4531, 513, 513, 511]
Edited tuple: (12, 400, 413, 4531, 513, 513, 511)

In [ ]:
# dictionaries
# {"key":"value"}
# key-value pairs

dict_a = {
    "name":"Chirantan", #column names : keys , records : values
    "age" : 31,
    "city" : "Mumbai"
}

print(dict_a)
print(type(dict_a))

{'name': 'Chirantan', 'age': 31, 'city': 'Mumbai'}
<class 'dict'>

In [ ]:
dict_b = {
    "name" : ["A","B","C"],
    "age" : [12,14,16],
    "city" : ["X","Y","Z"],
    "threshold" : (1,1,1)
}

print(dict_b)

print(type(dict_b))

{'name': ['A', 'B', 'C'], 'age': [12, 14, 16], 'city': ['X', 'Y', 'Z'], 'threshold': (1, 1, 1)}
<class 'dict'>

In [ ]:
import pandas as pd
df = pd.DataFrame(dict_b)
df

  name  age city  threshold
0    A   12    X          1
1    B   14    Y          1
2    C   16    Z          1

In [ ]:
# for loops

# iteration

list_a = [12,3,243,43,2]

# syntax of for loops

# for variable in list/tuple:
#     print(variable)

for i in list_a:
  print(i)

12
3
243
43
2

In [ ]:
for i in list_a:
  print(i ,end=' ')

12 3 243 43 2

In [ ]:
age = int(input("Enter the age: "))
has_license = input("Do you have a valid license ? (yes/no): ")

if age>=18 and has_license=="yes":
  print("You are eligible to rent a car.")
else:
  print("Sorry, you cannot rent out the car")

In [ ]:
# upper and lower

a = "INDIA"

b = "toothpaste"

print(a.lower())

print(b.upper())

In [ ]:
user_input = input("Please enter 'yes':")

if user_input == 'yes':
  print("Accepted")
else:
  print("NA")

In [ ]:
password = input("Enter the password here: ")

if len(password) > 10:
  print("Invalid password")
else:
  print("valid password")

In [ ]:
# length function :
# len()

a = "Mumbai"

print(len(a))

6

In [ ]:
# nested if-else loop

password = input("Enter the password here: ")

if len(password) > 5:
  print("Password accepted")
else:
  print("Invalid password. You have one more chance ..")

  password = input("Please re-enter the password: ")

  if len(password) > 5:
    print("Password accepted")
  else:
    print("Invalid password")

Enter the password here: bhi
Invalid password. You have one more chance ..
Please re-enter the password: chirujomk
Password accepted

In [ ]:
# data structures
# lists,tuples and dictionaries

# lists : [] : square brackets
# tuples : () : round brackets
# dictionaries : {} : curly brackets

### LISTS

In [ ]:
list_a = [12,32,4,34423,52,3534,6346,346]
print(list_a)
print(type(list_a))
print("-------------------------------------------------------")
# lists can store multiple data types
# int,float,str, boolean

list_b = [12,12.3,"Mumbai",True]
print(list_b)
print(type(list_b))

[12, 32, 4, 34423, 52, 3534, 6346, 346]
<class 'list'>
-------------------------------------------------------
[12, 12.3, 'Mumbai', True]
<class 'list'>

### TUPLES

In [ ]:
tuple_a = (12,32,4,34423,52,3534,6346,346)
print(tuple_a)
print(type(tuple_a))
print("-------------------------------------------------------")
# tuples can also store multiple data types
# int,float,str, boolean

tuple_b = (12,12.3,"Mumbai",True)
print(tuple_b)
print(type(tuple_b))

(12, 32, 4, 34423, 52, 3534, 6346, 346)
<class 'tuple'>
-------------------------------------------------------
(12, 12.3, 'Mumbai', True)
<class 'tuple'>

In [ ]:
# lists : MUTABLE : elements can be changed,removed,replaced,deleted
# tuples : IMMUTABLE : elements cannot be changed,removed,replaced,deleted

In [ ]:
list_a = [12,32,4,34423,52,3534,6346,346]

# in python, index positio starts at 0
# counting starts at 0

# which element inside list_a at 0th index position
print(list_a[0])

print(list_a[4])

12
52

In [ ]:
# how are lists mutable ?
list_a = [12,32,4,34423,52,3534,6346,346]
print("Before replacement: ",list_a)

# changes here
list_a[3] = 344

print("After replacement: ",list_a)

Before replacement:  [12, 32, 4, 34423, 52, 3534, 6346, 346]
After replacement:  [12, 32, 4, 344, 52, 3534, 6346, 346]

In [ ]:
# are tuples mutable ?

tuple_a = (12,32,4,34423,52,3534,6346,346)
print("Before replacement: ",tuple_a)

# changes here
tuple_a[3] = 344

print("After replacement: ",tuple_a)

Before replacement:  (12, 32, 4, 34423, 52, 3534, 6346, 346)

TypeError: 'tuple' object does not support item assignment

In [ ]:
tuple_a = (12,32,4,34423,52,3534,6346,346)

try:
  tuple_a[3] = 344
except TypeError:
  print("Tuples are immutable")

Tuples are immutable

In [ ]:
# dictionaries : {}

# {"key":"value"}
# key : name of the column
# values : records under the column name

dict_a = {"name":"Chirantan",
          "age":30,
          "city":"Mumbai"}
print(dict_a)
print(type(dict_a))

{'name': 'Chirantan', 'age': 30, 'city': 'Mumbai'}
<class 'dict'>

In [ ]:
dict_b = {
    "name" : ['A','B','C'],
    "age" : [25,26,27],
    "city" : ["D","E","F"],
    "threshold" : (0.5,0.5,0.5)
}

print(dict_b)
print(type(dict_b))
print(dict_b.keys())
print(dict_b.values())
print(dict_b.items())

{'name': ['A', 'B', 'C'], 'age': [25, 26, 27], 'city': ['D', 'E', 'F'], 'threshold': (0.5, 0.5, 0.5)}
<class 'dict'>
dict_keys(['name', 'age', 'city', 'threshold'])
dict_values([['A', 'B', 'C'], [25, 26, 27], ['D', 'E', 'F'], (0.5, 0.5, 0.5)])
dict_items([('name', ['A', 'B', 'C']), ('age', [25, 26, 27]), ('city', ['D', 'E', 'F']), ('threshold', (0.5, 0.5, 0.5))])

In [ ]:
print(dict_b[0])

KeyError: 0

In [ ]:
print(dict_b["name"])

['A', 'B', 'C']

In [ ]:
print(dict_b.get("Address","Key Not Found"))

Key Not Found

In [ ]:
import pandas as pd

df = pd.DataFrame(dict_b)
df

  name  age city  threshold
0    A   25    D        0.5
1    B   26    E        0.5
2    C   27    F        0.5

In [ ]:
# for loops
# iteration : reading element after element

a = [1,2,3,4,5]

# i is an iterator
# every element inside the list is an i
# these i's are at different indexpositions

# for example : 1 is "i" at index position 0
# 2 is "i" at index position 1 and so on

for i in a:
  print(i)

1
2
3
4
5

In [ ]:
a = [1,2,3,4,5]

for i in a:
  print(i,end=" ")

1 2 3 4 5

In [ ]:
my_list = [10,20,30,40,50,60]

for i in my_list[:3]: # :3 upto 3 elements ,slice 3 elements
  print(i)

10
20
30

In [ ]:
numbers = [2,4,6,8,10,12,14,16,18,20]

for x in numbers:
  print(x**2 , end= " ")

4 16 36 64 100 144 196 256 324 400

In [ ]:
numbers = [0,1,2,3,4,5,6,8,10,12,14,16,18,20,21,22,23,24,25,26,27,28,29,30]


# empty lists
even_list = []
odd_list = []

for i in numbers:
  if i%2==0: # that i is completely divisble by 2
    even_list.append(i) #append means to add
  else:
    odd_list.append(i)

print("Even numbers are: ",even_list)
print("Odd numbers are: ",odd_list)

Even numbers are:  [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]
Odd numbers are:  [1, 3, 5, 21, 23, 25, 27, 29]

In [ ]:
x = [1,2,3,4,5,6,7,8,9,10]

for i in x:
  print(i**2 ,end=" ")

1 4 9 16 25 36 49 64 81 100

In [ ]:
x = [1,2,3]
x.append(4)
# append means to add
print(x)

[1, 2, 3, 4]

In [ ]:
x = [1,2,3,4,5,6,7,8,9,10]

even_list = [] #empty list example
odd_list = []

for i in x:
  if i%2==0:
    even_list.append(i)
  else:
    odd_list.append(i)

print("Even numbers are: ",even_list)
print("Odd numbers are: ",odd_list)

Even numbers are:  [2, 4, 6, 8, 10]
Odd numbers are:  [1, 3, 5, 7, 9]

### For loops

In [ ]:
a = [1,2,2,3,3,4]

for x in a:
  print(x,end=" ")

1 2 2 3 3 4

In [ ]:
a = [1,2,2,3,3,4]

for x in a:
  print(x**2 , end=" ")

1 4 4 9 9 16

In [ ]:
message = "Hello"

for a in message:
  print(a)

H
e
l
l
o

In [ ]:
scores = [85,92,78,65,90]

for score in scores:
  if score >= 90:
    print("A")
  elif (score >= 80) and (score < 90): # between 80 and 90
    print("B")
  elif (score >= 70) and (score < 80): # more than 70 and less than 80
    print("C")
  else:
    print("D")

B
A
C
D
A

In [ ]:
a = [21,243,3,52,3542,545,346,57,676,6,68,568,875,585,46,474]

even_list = []
odd_list = []
zero_list = []

for num in a:
  if num%2==0:
    even_list.append(num) # to append, means to JOIn
  else:
    odd_list.append(num)

print("Even numbers are: ",even_list)
print("Odd numbers are: ",odd_list)

Even numbers are:  [52, 3542, 346, 676, 6, 68, 568, 46, 474, 0]
Odd numbers are:  [21, 243, 3, 545, 57, 875, 585]

In [ ]:
numbers = [-9,-7,-3,2,3,4,5]

pos_list = []
neg_list = []

# for variable in list
for num in numbers:
  if num >= 0:
    pos_list.append(num)
  else:
    neg_list.append(num)

print("Positive numbers are: ",pos_list)
print("Negative numbers are: ",neg_list)

Positive numbers are:  [2, 3, 4, 5]
Negative numbers are:  [-9, -7, -3]

In [ ]:
# data structures :
# how will structure the data such that it can be efficienlty stored. operated upon
# retrieved effectively

# lists, tuples, dictionaries, sets (least)

# list : [] : mutable : the values inside list can be changed/altered/deleted/redefined
# tuple : () :immutable : the values inside tuple CANNOT be changed/altered/deleted/redefined
# dictionaries : {}

In [ ]:
a = [1,2,3,4,5]

print(a)
print(type(a))

b = ['Mumbai',23,565.76,True,'Delhi'] #work with multiple datatypes

print(b)
print(type(b))

In [ ]:
# indexes/ index positions
# in python, index position starts at 0 : 0,1,2,3,4

a = [12,23,34,35,34]

print(a)
print(type(a))
print(a[2])

# if you want to reference any value , you use []

In [ ]:
# list functions
# nature of lists in detail

# appending
a  = [12,23,34,54,43]

a.append("India")

print(a)

print("----------------------------------------------------------------")

# accessing the elements in the list
a  = [12,23,34,54,43]

print(a[4])

print("----------------------------------------------------------------")

# finding the index of an item/object/value
a  = [12,23,34,54,43]
b = a.index(34)
print(b)

print("----------------------------------------------------------------")

# sort and reverse

In [ ]:
a  = [12,23,34,54,43]

a[3] = 45

print(a)
# lists are mutable

In [ ]:
# reversing the list
a = [12,234,34,523,5]

a.reverse()

print(a)

In [ ]:
# sorting the list
a = [12,234,34,523,5,234,52,523,32,9]

a.sort()

print(a)

In [ ]:
a = [12,234,34,523,5,234,52,523,32,9]

a.sort(reverse = True) # sorting in descending order

print(a)

In [ ]:
my_list = [21,423,524,34,645,76,8] #original list

print("Original list:",my_list)

desc_sorted_list = sorted(my_list, reverse = True) # new sorted list
# for ascending : desc_sorted_list = sorted(my_list)

print("Sorted list:",desc_sorted_list)

In [ ]:
# tuple

stocks = (23,234,5423,52352.4324,2342,4324,423)
# accessing the index position in tuple works
print(stocks[4])

In [ ]:
stocks = (23,234,5423,52352.4324,2342,4324,423)

stocks.append(12)

# immutability

In [ ]:
# dictionaries {}
# key-value pair
# key : column names : sales,profit,revenue
# values : records :

# dictionary = {'key':'value'}

# 2D data : rows & cols : data stored inside dictionary

stock_price = {'A': 45, 'B':46, 'C':47}

print(stock_price)

print(type(stock_price))

In [ ]:
# in order to define multiple values in the dict
# define : inside a list or a tuple
# list
# threshold : tuple

stock_price = {"Asian paints" : [12,421,432,5523,4],
               "Godrej": [34,24,234,34,324,2],
               "Yipee":[234,423,52,523,52,3]
               }

print(stock_price)

print(type(stock_price))

print(stock_price.keys())
print(stock_price.values())

first_key = next(iter(stock_price))

print(first_key)

In [ ]:
my_list = [12,2,3]
# next-iter function
iterator = iter(my_list)
print(next(iterator))
print(next(iterator))
print(next(iterator))

In [ ]:
# conversion of list to tuple and tuple to list
tuple_a = (12,3,2,32,4)
print(tuple_a)
list_a = list(tuple_a)
print(list_a)
list_a[3] = 64
print(list_a)
tuple_b = tuple(list_a)
print(tuple_b)

In [ ]:

# for loops

fruits = ['apple', 'melon', 'banana', 'orange']

for a in fruits:
  print(a)

In [ ]:
fruits = ['apple', 'melon', 'banana', 'orange']

for a in fruits:
  print(a, end=' ')

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9]

for nums in numbers:
  if nums%2 == 0:
    print(f"{nums} is even") # f string # f"{}"
  else:
    print(f"{nums} is odd")

In [ ]:
# mounting code :
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv(r'/content/vgsales.csv') #(r'file_path')
# pd.read_excel()

df.head() #print the 1st five records in the dataset

# df.head(10)

In [ ]:
print("The dimensions of this dataset are:",df.shape)

In [ ]:
type(df)

In [ ]:
print("Columns in the dataset are: ")
df.columns

In [ ]:
df.info()

In [ ]:
total_rows = df.shape[0]
print(total_rows)

In [ ]:
missing_data = df.isnull().sum()
missing_data

In [ ]:
df.head()

In [ ]:
cols_to_analyse = df[['Year', 'Genre', 'Publisher', 'NA_Sales','EU_Sales']]
# extract a subset of columns from all the columns in the dataframe
cols_to_analyse.head()

In [ ]:
df.describe()

# Descriptive statistics for numerical columns

In [ ]:
df.select_dtypes(include='object').head()

In [ ]:
df.select_dtypes(include='number').head()

In [ ]:
df.columns

In [ ]:
# percentge for valuecounts
perc_platform_valuecounts = (df['Platform'].value_counts())/(total_rows) * 100
perc_platform_valuecounts

In [ ]:
df.head()

In [ ]:
df.head()

In [ ]:
# create the copy of df

df_copy = df.copy()

df_copy.head()

In [ ]:
df_copy.drop('Platform',axis=1, inplace = True)
# for columns, axis = 1 and for rows axis =0
df_copy.head()

In [ ]:
df_copy.drop(columns = ['Year', 'Genre', 'Publisher'],
             axis=1,
             inplace = True)
# for columns, axis = 1 and for rows axis =0
df_copy.head()

In [ ]:
df_copy.columns

In [ ]:
df['Genre'].unique()

In [ ]:
df['Genre'].nunique()

In [ ]:
df.head()

In [ ]:
# iloc
# loc

In [ ]:
df.iloc[1:7]
# subset operations
# iloc : starts at the user defined starting index position and ends at indexposition - 1

In [ ]:
df.iloc[2:7]

In [ ]:
# loc

df.loc[0:7]

In [ ]:
pyg_subset = df.iloc[:,2:5] #2,3,4
pyg_subset

# df.iloc[rows,columns]
# : -> *
# : -> select all rows/columns

In [ ]:
pyg_subset = df.iloc[:,2:5] #2,3,4
pyg_subset.to_csv('pyg_subset.csv') # export the records to csv file
# to_excel('filename.xlsx')

In [ ]:
df.iloc[10:1001,1:6]

In [ ]:
j = [12,13,14,15,16]

for i in enumerate(j):
  print(i)

# enumerate : (index,item) pair

In [ ]:
cols = df.columns

for i in enumerate(cols):
  print(i)

In [ ]:
# functions

# blocks of reusable code

# def

# defining the function
#def func_name(parameters/inputs):
  return output

#calling the function : execution purpose
func_name(arguments)

In [ ]:
def add_2_numbers(x,y):
  return x+y

add_2_numbers(10,20)

30

In [ ]:
# add 2 numbers

def add_nums(x,y):

  return x+y

add_nums(17,18)

In [ ]:
def min_max(numbers):
  return min(numbers), max(numbers)

low,high = min_max([12,3,435,35,52,4])

print("Lowest number is:", low, "and", "highest number is:", high)

In [ ]:
def max_ab(a,b):
  """This function returns the maximum of two numbers""" #docstring
  if a>b:
    return a
  else:
    return b

max_ab(11,111)

111

In [ ]:
def even_odd(number):
  '''this function performs even odd operation'''
  if number%2 == 0:
    return "even"
  else:
    return "odd"

even_odd(12)

In [ ]:
def calculate_discount(price,is_member):
  '''this functions performs member-discount calculation'''
  if is_member:
    return c
  else:
    return price

calculate_discount(1000,False)
#calculate_discount(5000,True)

In [ ]:
# tuples
a = (23,343,42,52)
print(a)
print(type(a))


b = ('Mumbai',23,565.76,True,'Delhi') #work with multiple datatypes

print(b)
print(type(b))